---
import Layout from '../../layouts/Layout.astro'
import Main from '../../layouts/Main.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE } from '../../config'
import { type PostEntry, getPosts } from '../../content/config'
import { EntryList, PostItem } from '../../components/EntryList'
import {
	filderByTag,
	getUniqueTags,
	slugify,
	sortCollection,
} from '../../utils/collections'

export type Props = {
	post: PostEntry
	tag: string
}

export async function getStaticPaths() {
	const posts = await getPosts()

	const tags = getUniqueTags(posts)

	return tags.map((tag) => {
		return {
			params: { tag },
			props: { tag },
		}
	})
}

const { tag } = Astro.props

const posts = await getPosts(({ data }) => !data.draft)

const tagPosts = filderByTag(posts, tag)

const sortTagsPost = sortCollection(tagPosts);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
	<Header activeNav="tags" />
	<Main
		pageTitle={[`Tag:`, `${tag}`]}
		titleTransition={tag}
		pageDesc={`All the posts with the tag "${tag}".`}
	>
		<h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
		<EntryList>
			{
				sortTagsPost.map((post) => (
					<PostItem href={`/posts/${slugify(post)}`} frontmatter={post.data} />
				))
			}
		</EntryList>
	</Main>
	<Footer />
</Layout>
