---
import { slugifyStr } from '../utils/collections'
import Datetime from './Datetime.astro'

type Props = {
	href?: string
	frontmatter: {
		title: string
		description: string
		publicatedAt: Date
	}
	secHeading?: boolean
}

const { href, frontmatter, secHeading = true } = Astro.props
const { title, publicatedAt, description } = frontmatter

const headerProps = {
	style: { viewTransitionName: slugifyStr(title) },
	className: 'text-lg font-medium decoration-dashed hover:underline',
}

---

<li class="item">
	<a href={href} class="title">
		{secHeading
			? (
					<h2 {...headerProps}>{title}</h2>
				)
			: (
					<h3 {...headerProps}>{title}</h3>
				)}
	</a>
	<Datetime datetime={publicatedAt} />
	<p>{description}</p>
</li>
